
.overlay{
    display:none;
    z-index: 1;
    width:100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left:0;
    background-color:black;
    opacity: 0.5;
}

.restart-popup, .coordinates-popup{
    visibility: hidden;
    background-color: white;
    z-index: 2;
    position:absolute;
    top: 30%;
    bottom: 30%;
    left:30%;
    right:30%;
    border-radius: 10px;
    margin:auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}
#restart{
    border: none;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    padding:20px;
    border-radius: 10px;
    background-color: green;
    margin:50px
}

#restart:active, #submit:active{
    transform: scale(0.95);
}

.coordinates-popup{
    padding:20px;
    font-size: 1.5rem;
    text-align: center;
}
.coordinates-popup p {
    margin:5px
}

input{
    box-sizing: border-box;
    margin:10px;
    width: 100%;
    padding:10px 20px;
    font-size: 1.5rem;
}

#submit{
    width:100%;
    padding: 10px;
    background-color: rgb(42, 201, 42);
    border:none;
    border-radius: 10px;
    font-size: 1.5rem;
}

.boards{
    /* width:80%;
    margin:auto; */
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.board{
    margin:50px;
    display:grid;
    grid-template-columns: repeat(10,50px);
    grid-template-rows: auto repeat(10,50px);
}

.board p{
    text-align: center;
    grid-column: 1/-1;
    font-size: 2rem;
    font-weight: bold;
    margin:10px
}

.square{
    border: 1px solid rgb(190, 189, 189);
}

#playerTwoBoard .hover:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: rgb(173, 173, 173);
}

.hit{
    background-color: rgb(235, 193, 193);
}

.missed{
    background-color: rgb(185, 215, 241);
}

.sunk{
    background-color: rgb(92, 75, 75)
}

.ship{
    border:1px blue solid
}